{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <!--display messages-->
{% if messages %}
  {% for message in messages %}
    <div class="container center-align">
      <div>
        {{ message }}
      </div> 
    </div>
  {% endfor %}
{% endif %}
<div class="container-fluid">
  <div class="row center-align" style="display: flex; justify-content: center; align-items: center; padding-top:50px;">
    <div class="card-image" style="height: 250px; width: 250px; padding: 40px;">
    {% for neighbourhood in neighbourhood %}
      
    </div>
    <div>
      <div class="row" style="display: flex;">
        <p style="padding-right: 10px;"><b>{{neighbourhood.name}}</b></p>
        <p><a href="{% url 'change_neighbourhood' neighbourhood.pk %}">Change Neighbourhood</a></p>
      </div>
      
      <div class="row">
        <p>{{neighbourhood.description}}</p>
        <p>create business</p>
        <!-- Modal Trigger -->
        <button data-target="modal1{{neighbourhood.id}}" class="btn modal-trigger">Create Post</button>
        <!-- Modal Structure -->
        <div id="modal1{{neighbourhood.id}}" class="modal">
          <div class="modal-content">
            <h4>Write a post</h4>
            <form action="" method = 'POST' class="input-field col s12" id="postform">
              {% csrf_token %}
              
              <!--render form fields as paragraph-->
              {{ form|crispy }}
              
              <button type="submit" class="col s12 waves-effect waves-light btn" form="postform">Post</button>
            
            </form>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>
      </div>
    </div>
  </div> 
  {% endfor %} 
   
  
</div>

<!--footer-->
<div class="section center" style="color: #8c9395;">
  <p>2022 nyumba-kumi</p>
</div>


{% endblock %}
