{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <!--display messages-->
{% if messages %}
  {% for message in messages %}
    <div class="container center-align">
      <div>
        {{ message }}
      </div> 
    </div>
  {% endfor %}
{% endif %}
{% for neighbourhood in neighbourhood %}
<div class="container">
  <div class="row center-align">
    <form id="search-site" action="{% url 'search_results' %}" method='get'>
      <div class="input-field">
        <input placeholder="Find a business..."  id="search" type="text" class="validate" name="business">
      </div>
    </form>
  </div>
  <div class="row center-align">
    <p>Moving out?</p>
    <button class="btn"><a href="{% url 'change_neighbourhood' neighbourhood.pk %}" class="white-text">Change Neighbourhood</a></button>
  </div>
  <!--neighbourhood profile-->
  <div class="row center-align">
    <div class="card-image" style="height: 250px; width: 250px; padding: 40px;">
    
      {% if neighbourhood.logo %}
        <img src="{{neighbourhood.logo.url}}" alt="" class="responsive-img" style="height: 100%; width: 100%; object-fit: cover;">
      {% else %}
        <img src="/static/photos/neighbourhood.jpg" alt="" class="responsive-img">
      {% endif %}
      
    </div>
  </div>
  <!--profile card-->
  <div class="row center-align">
    <p style="padding-right: 10px;">Name: <b>{{neighbourhood.name}}</b></p>
    <p style="padding-right: 10px;">Location: <b>{{neighbourhood.location}}</b></p>
  </div>
  <div class="row center-align">
    <p style="padding-right: 10px;"><b>{{businesses|length}}</b> businesses </p>
    <p style="padding-right: 10px;"> <b>{{alerts|length}}</b> posts </p>
    <p style="padding-right: 10px;"> <b>{{profile|length}}</b> occupants </p>
  </div>
  <div class="row center-align">
    <p>{{neighbourhood.description}}</p>
  </div>
  <!--end profile card-->

  <div class="row" style="display: flex;">
    <button class="btn">
      <a href="{% url 'create_business' neighbourhood.pk %}">Create business</a>
    </button>
    <!-- Modal Trigger -->
    <button data-target="modal1{{neighbourhood.id}}" class="btn modal-trigger">Create Post</button>
    <!-- Modal Structure -->
    <div id="modal1{{neighbourhood.id}}" class="modal">
      <div class="modal-content">
        <h4>Write a post</h4>
        <form action="" method = 'POST' class="input-field col s12" id="postform">
          {% csrf_token %}
          <!--render form fields as paragraph-->
          {{ form|crispy }}
          <button type="submit" class="col s12 waves-effect waves-light btn" form="postform">Post</button>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
    <!--end modal-->
  </div>
  {% endfor %} 
 
      
  <!--alerts-->
  <div class="row" style="display: flex;">
    <p>{{neighbourhood.name}} alerts</p>
  </div>
      
      <div class="row">
        
        
      </div>
      <!--businesses-->
      <div class="row">
        <p>business</p>
        {% if business.owner == user %}
          <div style="padding-left: 10px;">
            <a href="{% url 'business_update' business.pk %}"><i class="material-icons black-text">create</i></a>
            <a href="{% url 'business_delete' business.pk %}"><i class="material-icons black-text">delete</i></a>
          </div>
        {% endif %}
      </div>
    </div>
  </div> 
  
   
  
</div>

<!--footer-->
<div class="section center" style="color: grey; position: fixed; bottom: 0%; width: 100%;">
  <p>2022 nyumba-kumi</p>
</div>


{% endblock %}
